[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = ">=1.32.0"
pandas = ">=2.0.0"
plotly = ">=5.18.0"

[dev-packages]

[requires]
python_version = "3.12"
